@import "./base.css";
/* navbar*/

header .row {
  color: black;
  padding: 23px 0px;
  justify-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
header .logo i {
  display: none;
}
header .elements {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
}
header .elements a {
  color: #141718;
  font-weight: 600;
}
header .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
header .CartButton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3px;
  position: relative;
}
header .notification {
  height: 14px;
  width: 15px;
  border: #141718 solid 1px;
  border-radius: 17px;
  background-color: #141718;
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -15px;
}
@media screen and (max-width: 450px) {
  header .icons .search {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header .elements {
    display: none;
  }
  .container {
    width: calc(100% - 100px) !important;
  }
  header .logo i {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 180px);
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: calc(100% - 180px);
  }
}

/*footer*/

footer {
  background-color: #e8ecef;
  padding: 80px 0px 32px 0px;
}
footer .row {
  flex-direction: column;
  align-items: start;
}
footer .Frame {
  display: flex;
  gap: 30px;
  width: 100%;
}
footer .CompInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 60px;
  width: 35%;
  color: #141718;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
footer .logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
footer .location {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
footer .Text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
}
footer .socialIcon {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
footer .page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  width: 15%;
}
footer .page h3 {
  font-family: "Poppins", sans-serif;
  color: #141718;
  font-size: 16px;
  font-weight: 600;
}
footer .pageLink {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .pageLink a {
  color: #141718;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
footer .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  width: 15%;
}
footer .JoinNewsletter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30%;
  p {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #141718;
  }
}
footer .JoinNewsletter form i {
  border: 1px solid #377dff;
  background-color: #377dff;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
}
footer .JoinNewsletter form {
  border: 1px solid;
  border-radius: 30px;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  gap: 18px;
}
footer .JoinNewsletter input {
  border: 0px solid;
  background-color: #e8ecef;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  width: 90%;
}
footer .bottomBar {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0px;
  border-top: 1.5px solid #6c7275;
  width: 100%;
  gap: 16px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
footer .content {
  width: calc((100% - 16px) / 1.5);
  display: flex;
  gap: 16px;
  align-items: center;
}
footer .paymentMethods {
  flex-grow: 1;
  display: flex;
  gap: 8px;
  justify-content: end;
}
